{% extends 'base.html.twig' %}

{% block title %}

{{ agent.nom }}
{% endblock %}

{% block body %}
<div class="row mt-3">
    <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTImCcwj7a-CYOiLWDzriL30IU7cLGLLUyMQA&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
<div class="alert alert-sucess">
<h1>{{ agent.nom }}</h1>
<p>{{ agent.prenom }}</p>
</div>
</div>

{% endblock %}
