<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">GESTION-CONTENU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link " href="{{path('app_main')}}">Main
            </a>
          </li>
            <li class="nav-item">
              <a class="nav-link " href="">Agent
          
              </a>
              <li class="nav-item">
                <a class="nav-link " href="">Cible
                </a>
                <li class="nav-item">
                  <a class="nav-link " href="">Contact
                   
                  </a>
                  <li class="nav-item">
                    <a class="nav-link " href="">Mission
                    </a>
                    <li class="nav-item">
                      <a class="nav-link " href="">Planque
                      </a> 
                    </li>   
                    <li class="nav-item">
                      <a class="nav-link " href="">Specialite
                      </a> 
                    </li>        
               </ul>

             
               <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


        </div>
       
    </div>
  </nav>

