{% extends 'base.html.twig' %}

{% block title %} Liste des Missions{% endblock %}

{% block body %}


<h1> Liste des Missions</h1>

<div class="row">
    {% for mission in missions %}
    <div class="card" style="width: 18rem;">
      <img src="https://www.cadresenmission.com/wp-content/uploads/2020/07/Faire-un-rapport-de-fin-de-mission.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{mission.titreMission}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{mission.descriptionMission}}</h6>
          <a href="{{ path('mission.detail', {id: mission.id})}}" class="btn btn-primary">Voir le détail</a>
        </div>
      </div>
      {% endfor %}
</div>

<div class="navigation d-flex justify-content-center">
  {{ knp_pagination_render(missions) }}
</div>

{% endblock %}